@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #000000;
     
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.HideScrollBar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .HideScrollBar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */


    
  }


  